
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Arial, sans-serif;
  background: #f9fafb;
  height: 100vh;
  text-align: center;

}

.navbar-nav .nav-link {
  text-decoration: underline;
}


/* Hero Section */
.hero {
  background: url('https://source.unsplash.com/1600x700/?travel,nature') no-repeat center center/cover;
  color: white;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.5);
}

.hero-content {
  position: relative;
  z-index: 2;
}

.hero h1 {
  font-size: 4rem;
  font-weight: bold;
}

/* Package Cards */
.package-card img {
  height: 200px;
  object-fit: cover;
}


/* Testimonials */
.testimonial {
  background: #f8f9fa;
  padding: 2rem;
  border-radius: 10px;
}
/*Connect Us*/   

.page-wrapper {
  display: Outline-block;
  margin: 50px auto;
  text-align: left;
}

.contact-card {
  background: #fff;
  padding: 10px 50px;
  border-radius: 18px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.contact-card h2 {
  font-size: 34px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.contact-item {
  display: block;
  margin: 15px 0;
  font-size: 16px;
  color: #444;
}


.contact-item i {
  font-size: 20px;
  color: #1877f2;
  margin-right: 10px;
}

.contact-item span {
  line-height: 1.5;
}



.contact-item strong {
  color: #1e3c72;
  margin-right: 5px;
}

.contact-item span {
  white-space: nowrap;
}


/*social icons*/
    .social-icons {
      display: flex;
      justify-content: center;
      gap: 20px;
    }

    .social-icons a img {
      width: 55px;      /* size of the logo */
      height: 55px;
      border-radius: 15px;  /* rounded-square like your FB icon */
      transition: all 0.3s ease-in-out;
    }

    .social-icons a img:hover {
      transform: scale(1.1);
      opacity: 0.9;
    }
	
/*Footer*/
